
.calendar{
    width: 100%;
    border: none;
    background: transparent;
}

.calendar-card{
    margin-top: 3%;
    width: 70%;
    height: auto;
    padding: 1%;
    background-color: lightgrey;
}

.date-underline{
    border-color: red;
    background-color: red;
}

.calendar-deadline-tile{
    background-color: lightpink;
    position: relative;
    padding: 2px;
    border-radius: 5%;
}

.react-calendar__navigation {
    margin-bottom: 0;
}

.react-calendar button{
    display: flex;
    flex-direction: column;
}

.react-calendar__tile{
    min-height: 60px;
}

.deadline-tag{
    margin: 0;
    color: red;
}

.day-modal-title{
    float: left;
}

.add-item{
    float: right;
    margin: 0 0 10px 0;
    width: 110px;
    padding: 3px;
}